<h2>订单列表
  <small class="pull-right btn-group">
    <%= link_to("所有订单", admin_orders_path, class: "btn btn-primary")%>
    <%= link_to("未处理订单", admin_orders_path(:status => "pending"), class: "btn btn-danger")%>
    <%= link_to("已处理订单", admin_orders_path(:status => "done"), class: "btn btn-success")%>
  </small>
</h2>

<%= form_tag admin_orders_path, :method => :get do %>
  <%= label_tag "总价"%>
  <%= text_field_tag :total %>
  <%= label_tag "订单编号"%>
  <%= text_field_tag :ids %>
  <%= date_field_tag :date %>
  <%= submit_tag "搜索"%>
<% end %>



<table class="table table-bordered">
  <thead>
    <tr>
      <th>订单编号</th>
      <th>生成时间</th>
      <th>订购人</th>
      <th>订单状态</th>
    </tr>
  </thead>
  <tbody>

    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= link_to(order.id, admin_order_path(order))%>
        </td>
        <td>
          <%= order.created_at.to_s(:long) %>
        </td>
        <td>
          <%= order.user.email %>
        </td>
        <td>
          <%= order.aasm_state %>
        </td>
      </tr>
    <% end %>

  </tbody>
</table>

<div class="text-center">
  <%= will_paginate @orders %>
</div>
