<!DOCTYPE html>
<html>
  <head>
    <title>Jdstore后台</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <%= render "common/navbar"%>
      </div>
      <div class="row">
        <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
            <li role="presentation">
              <a class="layout-list btn btn-danger", href="/admin/products">产品</a>
            </li>
          </ul>
        </div>
        <div class="col-md-10">
          <div class="container">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
